/* --- ELEMENT STYLES --- */

body {
  background: #333949;
  font-family: Arial, Sans-Serif;
  font-size: 14px;
  color: #6a7796;
}
.top-bar,
.carousel-block{
  display: none;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

.section {
  background-color: rgba(24, 26, 35, 0.51);
}

.section-title{
  background-image: url("../img/section-head-bg.png");
  background-repeat: repeat-x;
}

.btn-section{
  background-color: #11719f;
  border-color: #11719f;
  border-radius: 0 !important;
  color: #fff;
}

.btn-section:hover{
  color: #fff;
}
//
//.section-img {
//  width: 100%;
//  background-color: #191f2f;
//  border: 1px solid #252c3e;
//}

@media screen and (min-width: 995px){
  body {
    background: url("../img/bgr.png");
  }
  .container{
    width: 950px;
  }

  .carousel-block{
    display: block;
    padding-top: 25px;
    margin-bottom: 45px;

    img {
      padding: 10px;
      background-color: #fff;
      width: 100%;
    }

    li {
      background-color: #fff;
      border-color: #fff;
    }

    li.active {
      background-color: #3f92bf;
      border-color: #3f92bf;
    }

    .carousel-indicators {
      bottom: -10% !important;
    }
  }

  .top-bar {
    display: block;
    background-image: url("../img/header-bg.png");
    height: 52px;
    font-size: 11px;
    padding-top: 1.5em;

    a {
      padding: 0 10px;
    }

    .subscribe a {
      color: #6a87a3;
      border-right: 1px solid #6a87a3;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: 0;
      }
    }
    
    .social {
      text-align: right;
    }

    .search-form{
      margin-top: -6px;
      padding-right: 10px;
      background: #141516;
      height: 29px;
      border-bottom: 1px solid #292d30;
      border-radius: 10px;
      font-size: 11px;
      color: #38444f;
      overflow: hidden;

      input[type='text'],
      button{
        border: 0;
        margin: 0;
        padding: 0;
        background: #141516;
        height: 29px;
      }

      input{
        width: 85%;
      }

      button{
        width: 15%;
        float: right;
      }
    }
  }
}