/* --- ELEMENT STYLES --- */

body {
  background: #333949;
  font-family: Arial, Sans-Serif;
  font-size: 14px;
  color: #6a7796;
}
.top-bar {
  display: none;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}



@media screen and (min-width: 995px){
  body {
    background: url("../img/bgr.png");
  }

  .top-bar {
    display: block;
    background-image: url("../img/header-bg.png");
    height: 52px;
    font-size: 11px;
    padding-top: 1.5em;

    a {
      padding: 0 10px;
    }

    .subscribe a {
      color: #6a87a3;
      border-right: 1px solid #6a87a3;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: 0;
      }
    }
    
    .social {
      text-align: right;
    }

    .search-form{
      margin-top: -6px;
      padding-right: 10px;
      background: #141516;
      height: 29px;
      border-bottom: 1px solid #292d30;
      border-radius: 10px;
      font-size: 11px;
      color: #38444f;
      overflow: hidden;

      input[type='text'],
      button{
        border: 0;
        margin: 0;
        padding: 0;
        background: #141516;
        height: 29px;
      }

      input{
        width: 85%;
      }

      button{
        width: 15%;
        float: right;
      }
    }

  }
}