/* --- ELEMENT STYLES --- */

body {
  background: #333949;
  font-family: Arial, Sans-Serif;
  font-size: 14px;
  color: #6a7796;
}

h1,
h2 {
  color: #fff;
}

.top-bar,
.carousel-block{
  display: none;
}

.section {
  background-color: rgba(24, 26, 35, 0.51);
  margin-bottom: 10px;
  min-height: 80px;

  &.contacts{
    line-height: 1.2em;

    .row{
      margin-bottom: 21px;
    }
  }

  &.social {
    a{
      margin-right: 3%;
    }
  }
}

.section-title{
  background-image: url("../img/section-head-bg.png");
  background-repeat: repeat-x;
  height: 46px;

  h1{
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 1.8em;
    line-height: 2em;
    padding-left: 45px;

    &.about{
      background-image: url("../img/section-about-logo.png");
    }
    &.blog{
      background-image: url("../img/section-blog-logo.png");
    }
    &.contacts{
      background-image: url("../img/section-contacts-logo.png");
    }
  }
}

.section-content {
  padding: 20px;

  h2 {
    font-size: 1.4em;
  }

  strong{
    color: #fff
  }
}

.section-thumbnail {
  width: 100%;
}

.btn-section{
  background-color: #11719f;
  border-color: #11719f;
  border-radius: 0 !important;
  color: #fff;
}

.btn-section:hover{
  color: #fff;
}


.footer-info {
  background-color: #0f131f;
  min-height: 100px;
  margin-top: 20px;
  border-bottom: 1px solid #000;
  color: #fff;

  h1{
    color: #8c94ac;
    font-size: 1.4em;
  }
}
.footer-main {
  background-color: #000;
  height: 60px;
  font-size: 0.875em;
  line-height: 60px;
  border-top: 1px solid #0f131f;
}


@media screen and (min-width: 995px){
  body {
    background: url("../img/bgr.png");
  }


  .container{
    width: 970px;
  }

  .navbar {
    ul{
      margin-top: 20px;

      li{
        overflow: hidden;

        &:first-child{
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }

        &:last-child{
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      a{
        color: #7a8090;
        font-size: 1.2em;
        font-weight: 600;
        display: block;
      }
      
      a:hover{
        color: #fff;
        background-color: rgba(24, 26, 35, 0.51);
      }
    }
  }

  .carousel-block{
    display: block;
    padding-top: 25px;
    margin-bottom: 45px;

    img {
      padding: 10px;
      background-color: #fff;
      width: 100%;
    }

    li {
      background-color: #fff;
      border-color: #fff;
    }

    li.active {
      background-color: #3f92bf;
      border-color: #3f92bf;
    }

    .carousel-indicators {
      bottom: -10% !important;
    }
  }

  .top-bar {
    display: block;
    background-image: url("../img/header-bg.png");
    height: 52px;
    font-size: 11px;
    padding-top: 1.5em;

    a {
      padding: 0 10px;
    }

    .subscribe a {
      color: #6a87a3;
      border-right: 1px solid #6a87a3;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: 0;
      }
    }
    
    .social {
      text-align: right;
    }

    .search-form{
      margin-top: -6px;
      padding-right: 10px;
      background: #141516;
      height: 29px;
      border-bottom: 1px solid #292d30;
      border-radius: 10px;
      font-size: 11px;
      color: #38444f;
      overflow: hidden;

      input[type='text'],
      button{
        border: 0;
        margin: 0;
        padding: 0;
        background: #141516;
        height: 29px;
      }

      input{
        width: 85%;
      }

      button{
        width: 15%;
        float: right;
      }
    }
  }

  .main-content {
    background-color: rgba(24, 26, 35, 0.51);
    padding: 20px;
  }
}