/* --- ELEMENT STYLES --- */
body {
  background: #333949;
  font-family: Arial, Sans-Serif;
  font-size: 14px;
  color: #6a7796; }

.top-bar,
.carousel-block {
  display: none; }

h1,
h2 {
  color: #fff;
  text-align: center; }

.section {
  background-color: rgba(24, 26, 35, 0.51); }

.section-title {
  background-image: url("../img/section-head-bg.png");
  background-repeat: repeat-x; }

.btn-section {
  background-color: #11719f;
  border-color: #11719f;
  border-radius: 0 !important;
  color: #fff; }

.btn-section:hover {
  color: #fff; }

@media screen and (min-width: 995px) {
  body {
    background: url("../img/bgr.png"); }
  .container {
    width: 950px; }
  .carousel-block {
    display: block;
    padding-top: 25px;
    margin-bottom: 45px; }
    .carousel-block img {
      padding: 10px;
      background-color: #fff;
      width: 100%; }
    .carousel-block li {
      background-color: #fff;
      border-color: #fff; }
    .carousel-block li.active {
      background-color: #3f92bf;
      border-color: #3f92bf; }
    .carousel-block .carousel-indicators {
      bottom: -10% !important; }
  .top-bar {
    display: block;
    background-image: url("../img/header-bg.png");
    height: 52px;
    font-size: 11px;
    padding-top: 1.5em; }
    .top-bar a {
      padding: 0 10px; }
    .top-bar .subscribe a {
      color: #6a87a3;
      border-right: 1px solid #6a87a3; }
      .top-bar .subscribe a:first-child {
        padding-left: 0; }
      .top-bar .subscribe a:last-child {
        border: 0; }
    .top-bar .social {
      text-align: right; }
    .top-bar .search-form {
      margin-top: -6px;
      padding-right: 10px;
      background: #141516;
      height: 29px;
      border-bottom: 1px solid #292d30;
      border-radius: 10px;
      font-size: 11px;
      color: #38444f;
      overflow: hidden; }
      .top-bar .search-form input[type='text'],
      .top-bar .search-form button {
        border: 0;
        margin: 0;
        padding: 0;
        background: #141516;
        height: 29px; }
      .top-bar .search-form input {
        width: 85%; }
      .top-bar .search-form button {
        width: 15%;
        float: right; } }
