/* --- ELEMENT STYLES --- */
body {
  background: #333949;
  font-family: Arial, Sans-Serif;
  font-size: 14px;
  color: #6a7796; }

h1,
h2 {
  color: #fff; }

.top-bar,
.carousel-block {
  display: none; }

.section {
  background-color: rgba(24, 26, 35, 0.51);
  margin-bottom: 10px;
  min-height: 80px; }
  .section.contacts {
    line-height: 1.2em; }
    .section.contacts .row {
      margin-bottom: 21px; }
  .section.social {
    text-align: center; }
    .section.social img {
      width: 40px; }
    .section.social a {
      display: inline-block;
      margin: 10px; }

.section-title {
  background-image: url("../img/section-head-bg.png");
  background-repeat: repeat-x;
  height: 46px; }
  .section-title h1 {
    background-repeat: no-repeat;
    background-position: 10px 12px;
    font-size: 1.25em;
    line-height: 2.7em;
    padding-left: 45px;
    word-break: normal; }
    .section-title h1.about {
      background-image: url("../img/section-about-logo.png"); }
    .section-title h1.blog {
      background-image: url("../img/section-blog-logo.png"); }
    .section-title h1.contacts {
      background-image: url("../img/section-contacts-logo.png"); }

.section-content {
  padding: 20px; }
  .section-content h2 {
    font-size: 1.125em; }
  .section-content strong {
    color: #fff; }

.section-thumbnail {
  width: 100%; }

.btn-section {
  background-color: #11719f;
  border-color: #11719f;
  border-radius: 0 !important;
  color: #fff;
  margin-bottom: 10px; }

.btn-section:hover {
  color: #fff; }

.footer-info {
  background-color: #0f131f;
  min-height: 100px;
  margin-top: 20px;
  border-bottom: 1px solid #000;
  color: #fff; }
  .footer-info h1 {
    color: #8c94ac;
    font-size: 1.4em; }
  .footer-info a {
    color: #606574; }
  .footer-info .from-gallery img {
    background-color: #191f2f;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #252c3e; }
  .footer-info .twitter-update {
    color: #417893;
    background-color: rgba(117, 136, 187, 0.09);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative; }
    .footer-info .twitter-update span,
    .footer-info .twitter-update a {
      color: #b8e2f6; }
    .footer-info .twitter-update small {
      color: #305465; }
  .footer-info .twitter-bird {
    background-image: url("../img/twitter-bird-says.png");
    background-repeat: no-repeat;
    width: 55px;
    height: 37px;
    position: absolute;
    top: -37px;
    right: 15px; }

.footer-main {
  background-color: #000;
  height: 60px;
  font-size: 0.875em;
  line-height: 60px;
  border-top: 1px solid #0f131f;
  overflow: hidden; }
  .footer-main ul {
    float: right; }
    .footer-main ul li {
      display: inline-block; }
      .footer-main ul li a {
        color: #6a7796;
        padding: 0 10px;
        border-right: 1px solid #6a7796; }
    .footer-main ul li:last-child a {
      border: 0; }

.top-menu {
  background-color: transparent !important;
  border-color: transparent !important; }
  .top-menu ul {
    margin-top: 20px; }
    .top-menu ul a {
      color: #7a8090;
      font-size: 1.2em;
      font-weight: 600;
      display: block; }
    .top-menu ul a:hover {
      color: #fff;
      background-color: rgba(24, 26, 35, 0.9); }

@media (min-width: 768px) {
  body {
    background: url("../img/bgr.png"); }
  .section.social {
    text-align: center; }
    .section.social img {
      width: auto; }
    .section.social a {
      display: inline-block;
      margin: 3px; }
  .container {
    width: 970px; }
  .top-menu {
    background-color: transparent !important;
    border-color: transparent !important; }
    .top-menu ul {
      margin-top: 20px; }
      .top-menu ul li {
        overflow: hidden; }
        .top-menu ul li:first-child {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px; }
        .top-menu ul li:last-child {
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px; }
      .top-menu ul a {
        color: #7a8090;
        font-size: 1.2em;
        font-weight: 600;
        display: block; }
      .top-menu ul a:hover {
        color: #fff;
        background-color: rgba(24, 26, 35, 0.9); }
  .carousel-block {
    display: block;
    padding-top: 25px;
    margin-bottom: 45px; }
    .carousel-block img {
      padding: 10px;
      background-color: #fff;
      width: 100%; }
    .carousel-block li {
      background-color: #fff;
      border-color: #fff; }
    .carousel-block li.active {
      background-color: #3f92bf;
      border-color: #3f92bf; }
    .carousel-block .carousel-indicators {
      bottom: -10% !important; }
  .top-bar {
    display: block;
    background-image: url("../img/header-bg.png");
    height: 52px;
    font-size: 11px;
    padding-top: 1.5em; }
    .top-bar a {
      padding: 0 10px; }
    .top-bar .subscribe a {
      color: #6a87a3;
      border-right: 1px solid #6a87a3; }
      .top-bar .subscribe a:first-child {
        padding-left: 0; }
      .top-bar .subscribe a:last-child {
        border: 0; }
    .top-bar .social {
      text-align: right; }
    .top-bar .search-form {
      margin-top: -6px;
      padding-right: 10px;
      background: #141516;
      height: 29px;
      border-bottom: 1px solid #292d30;
      border-radius: 10px;
      font-size: 11px;
      color: #38444f;
      overflow: hidden; }
      .top-bar .search-form input[type='text'],
      .top-bar .search-form button {
        border: 0;
        margin: 0;
        padding: 0;
        background: #141516;
        height: 29px; }
      .top-bar .search-form input {
        width: 85%; }
      .top-bar .search-form button {
        width: 15%;
        float: right; }
  .main-content {
    background-color: rgba(24, 26, 35, 0.51);
    padding: 20px; } }
